<div class="wrapper">
<header class="header">
      <div class="header-top">
        <div class="content">
          <div class="header-top_data clearfix">
            <div class="header-top__logo"><a class="logo-link" href="javascript:void(0);"><img class="logo-img" src="image/logo-air.png" alt="Домашний Аэрофутбол" title="Домашний аэрофутбол"></a>
              <h1 class="text-logo">Продажа "Аэрофутбола" оптом и в розницу</h1>
            </div>
            <div class="header-two-logo"><a class="two-logo-link" href="javascript:void(0);"><img class="two-logo-img" src="image/world_of_gifts.png" alt="Мир подарков" title="Мир подарков"></a></div>
            <div class="header-phone"><a class="phone" href="tel:89000000000">+7(900)000-00-00</a><span class="text-desc">Бесплатно по РФ - Звоните!</span></div>
          </div>
        </div>
      </div>
     <div class="form_wrap"> 
      <div class="content">
      <div class="form_content">
			<form action="javascript:void(0);" name="order"  method="" class="form">
					<span class="form-desc">Сделайте заказ сейчас и получите АЭРОФУТБОЛ уже завтра!</span>
					<input type="text" name="name" placeholder="Как Вас зовут?" class="form-text">
					<input type="text" name="phone" placeholder="Введите Ваш номер телефона*" class="form-text">
					<input type="text"  placeholder="e-mail" name="email" class="form-text">
					<input type="submit" name="order" class="form-btn" value="заказать аэрофутбол">
					<span class="form-security">Ваши данные находятся в безопасности и не будут передаваться третьим лицам.</span>
			</form>
			<div class="form-send">
				<span class="form-send-text">
					Спасибо за Ваш заказ!
				</span>

				<i class="form-send-icon"></i>
				<span class="notification">
					 Наш менеджер свяжется с Вами</br> в ближайшее время!
				</span>
			</div>

		</div>	
		</div>
	</div>
														


	
			
							

			


