<div class="section-menu">
	<div class="content clearfix">
	 <div class="sandich"><span class="line-top"></span><span class="line-middle"></span><span class="line-bottom"></span></div>
		<nav>
			<ul class="menu ">
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Как играть</a></li>
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Фото/видео</a></li>
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Преимущества</a></li>
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Характеристики</a></li>
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Отзывы</a></li>
				<li class="menu-item"><a href="javascript:void(0);" class="menu-item__link">Контакты</a></li>
			</ul>
		</nav>
		<div class="cooperation">
			<a href="javascript:void(0);" class="cooperation-link">Сотрудничество</a>
		</div>
	</div>

</div>

</header>