<section class="foto_video">
	<div class="content">
		<h2 class="text-title-content">фото/видео</h2>
		<div class="block-video">
			<div class="block-video__item">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/0q0O28WIgyo" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="block-video__item">
				<iframe   src="https://www.youtube.com/embed/--OlDoqnxuA" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="block-video__item">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/CBszapPaGi8" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>
		<div class="block-photo">
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/1.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/2.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/3.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/4.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/5.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size"></i>
				<img src="image/content/6.jpg" alt="" class="item-photo">
			</div>
				
		</div>
		<div class="block-photo-full-size">
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/1.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/2.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/3.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/4.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/5.jpg" alt="" class="item-photo">
			</div>
			<div class="item-photo-wrap">
				<i class="btn-full-size-close"></i>
				<img src="image/content/6.jpg" alt="" class="item-photo">
			</div>
				
		</div>
			

		<span class="more-photo">больше фото</span>
	</div>


</section>