<section class="Cover-for-the-game">
	<div class="content">
		<h2 class="text-title">Покрытие для игры - любое гладкое!</h2>
		<div class="block-photo-Cover">
			<ul class="list-photo ">
				<li class="list-photo__item">
					<img src="image/coating1.jpg" alt="деревянный пол" title="ковер с низким ворсом" class="photo">
					<span class="text-desc-cover">ковер с низким ворсом</span>

				</li>
				<li class="list-photo__item">
					<img src="image/coating2.jpg" alt="деревянный пол" title="деревянный пол" class="photo">
					<span class="text-desc-cover">деревянный пол</span>
				</li>
				
				<li class="list-photo__item">
					<img src="image/coating3.jpg" alt="бетонный пол" title="бетонный пол" class="photo">
					<span class="text-desc-cover">бетонный пол</span>
				</li>
				<li class="list-photo__item">
					<img src="image/coating4.jpg" alt="линолиум" title="линолиум" class="photo">
					<span class="text-desc-cover">линолиум</span>
				</li>
				<li class="list-photo__item">
					<img src="image/coating5.jpg" alt="кафель" title="кафель" class="photo">
					<span class="text-desc-cover">кафель</span>
				</li>
			</ul>
		</div>
	</div>	
</section>
