<section class="video-section">
	<div class="video_wrap">
		<video poster="image/bg-video.jpg" class="video" width="100%;" height="100%"    muted loop   >
		  <source src="video/test_video/aerofootbol.mp4" type="video/mp4">
		  <source src="video/test_video/aerofootbol.webm" type="video/webm">
		  <source src="video/test_video/aerofootbol.ogv" type="video/ogg">
		</video>
		<div class="play">
			<a href="javascript:void(0);" class="play_btn">
				
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 5 5 60 60;" xml:space="preserve" >
		<g>
			<path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30   c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15   C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z" />
			<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30   S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" fill="#fff" />
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		<g>
		</g>
		</svg>
					</a>

				</div>
				<div class="pause">
					<a class="pause_btn" href="javascript:void(0);">
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="45.974px" height="45.975px" viewBox="0 0 45.974 45.975" style="enable-background:new 0 0 45.974 45.975;"
	 xml:space="preserve">
<g>
	<g>
		<g>
			<path id="path" d="M9.629,44.68c-1.154,1.16-2.895,1.51-4.407,0.885c-1.513-0.623-2.5-2.1-2.5-3.735V4.043c0-1.637,0.987-3.112,2.5-3.736
				c1.513-0.625,3.253-0.275,4.407,0.885l17.862,17.951c2.088,2.098,2.088,5.488,0,7.585L9.629,44.68z"  />
		</g>
		<g>
			<g>
				<path  id="path" d="M38.252,45.975c-2.763,0-5-2.238-5-5V5c0-2.762,2.237-5,5-5c2.762,0,5,2.238,5,5v35.975
					C43.252,43.736,41.013,45.975,38.252,45.975z" />
			</g>
		</g>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
					</a>
				</div>

			
			<div class="watch-video">Посмотрите видео как работает Аэрофутбол</div>
			<div class="content">
				<div class="lozung">Безопасно играть</br> в футбол дома - возможно!!!</div>
			</div>		
		</div>	
				
			
	</section>
		  
  
